@import '../archivist-curator.scss';

ngx-dropzone {
    justify-content: center;
}

.btn-primary {
    color: $archivist-primary-text;
    background-color: $archivist-primary-bg;
    border-color: $archivist-primary-bg;
}

.button-bar {
    margin-top: 0.5rem;
    justify-content: right;
}

ngx-dropzone {
    border: none;
}

.tag-bar {
    display: flex;

    &::after {	
	content: fa-content($fa-var-chevron-down);
	margin-left: -1.25em;
	margin-top: .25em;
	z-index: 2;
		 
    }
}

.spinner-border {
    display: none;
}

form.busy {
    .button-bar {
	.btn-primary span{
	    display: inline-block !important;
	}

	button {
	    pointer-events: none;
	    opacity: .65;
	}
    }
}

