<nav class="navbar navbar-dark archivist-header">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>     
    <a class="navbar-brand mx-auto" routerLink="/home">The Archives</a>
    
    <form class="d-flex">
      <input class="form-control mr-sm-2" type="search" placeholder="Search the archives" aria-label="Search the archivess">
      <button class="btn text-muted"><fa-icon [icon]="faSearch"></fa-icon></button>
    </form>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
	<div class="offcanvas-title">Menu</div>
	<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
	<div class="menu">
	  <ul class="nav flex-fill">
	    <li class="nav-item menu-group">	      
	      <a class="nav-link menu-link add-record" data-bs-dismiss="offcanvas" aria-label="Add New Record"
		 routerLink="/newrecord" tool-tip="Add a new record to the archives" >Add New Record</a>
	      <a class="nav-link menu-link add-record" data-bs-dismiss="offcanvas"
		 routerLink="/scanrecord" tool-tip="Scan a new record to the archives" >Add Scanned Record</a>
	    </li>
	    <li class="nav-item menu-group">
	      <a class="nav-link menu-link" data-bs-dismiss="offcanvas"
		 routerLink="/status" tool-tip="Display status information about the archives (Admin Only)">Status</a>
	    </li>
      <li class="nav-item menu-group">
        <a class="nav-link menu-link" href="/config" tool-tip="Configure the archives (Admin Only)">Config</a>
      </li>
	  </ul>	  
	</div>
      </div>
    </div>    
  </div>
</nav>
