/** Colors **/
$archivist-header-bg: #352120;

$archivist-highlight: #34ebcc;

$archivist-background-ro: #e9ecef;

$archivist-primary-bg: #34ebcc;
$archivist-primary-text: black;

$archivist-dark-text: white;

$fa-font-path: "~/@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";


